.App{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.GridHead, .GridRow {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
  background: #f0f0f0;
}

.GridHeadItem, .GridRowItem{
  width: 33%;
  text-align: center;
}

.GridHead{
  height: 40px;
  border-top: 1.5px solid gray;
  border-bottom: 1.5px solid gray;
  color: #646464;
  font-weight: 500;
}

.GridRow {
  height: 32px;
  box-sizing: border-box;
}

.GreenBorder{
  border-left: 5px solid #070;
}

.GrayBorder{
  border-left: 5px solid gray;
}

.RedBorder{
  border-left: 5px solid #c00;
}

.GreenColor{
  color: #070;
}

.RedColor{
  color: #c00;
}